body{
    background-image: url("../img/sofaTwo.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    text-align: center;
    overflow-x: hidden;
}
.overviewItem{
    background-color: rgba(0, 0, 0, 0.651);
    width: 90vw;
    height: auto;
    margin-top: 15vh;
    margin-left: 5vw;
    color: white;
}
table{
    text-align: left;
    width: 90vw;
}
button{
    background-color: black;
    color: white;
    border: none;
    width: 15vw;
}
.newCat{
    width: 8vw; 
    height: 5vh;
    margin-top: 7vh;
    float: left;
    margin-left: 5vw;
    background-color: black;
    color: white;
    border: none;
 }
th{
    border-right: 2px white solid;
    border-bottom: 2px white solid;
    margin-right: 5vw;
    padding-left: 1vw;
    padding-top: 1vw;
    padding-right: 0.5vw;
    
}
td{
    border-right: 2px white solid;
    margin-right: 5vw;
    padding-left: 1vw;
    padding-top: 1vw;
    padding-right: 0.5vw;
}
/*_______________________________________________________________pop up*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 2vh;
    width: 40vw;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;  
    cursor: pointer;
  }
  .inputPop{
    width: 10vw;
  }
  .inputPopDescription{
    width: 21vw;
    max-width: 21vw;
    min-width: 21vw;
  }
  .inputSel{
      width: 10.5vw;
  }
  .saveBtn{
      background-color: black;
      color: white;
      width: 10vw;
      border: none; 
  }