body{
    background-image: url("../img/sofa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    text-align: center;
    overflow: hidden;
    background-attachment: fixed;

}
form {
    border: 3px solid #ffffff8c;
    background-color: #ffffff8c;
    border-radius: 2vw;
    width: 30vw;
    height: 40vh;
}
input[type=text], input[type=password] {
  width: 15vw;
  height: 3vw;
  display: inline-block;
  border: 1px solid #ccc;
  margin-top: 2vh;
  font-size: 1vw;
}

button {
  background-color: #aa6204;
  color: white;
  padding: 1vw;
  font-size: 1.2vw;
  border: none;
  cursor: pointer;
  width: 30%;
}

button:hover {
  opacity: 0.8;
}
.loginForm{
    margin-left: 30vw;
    margin-top: 30vh;
    padding-top: 5vh;
    text-align: left;
    padding-left: 5vw;
}
.container{
    height: 50vh;
}
