body{
    background-image: url("../img/sofaTwo.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    text-align: center;
    overflow-x: hidden;
}
.overviewItem{
    background-color: rgba(0, 0, 0, 0.651);
    width: 90vw;
    height: auto;
    margin-top: 15vh;
    margin-left: 5vw;
    color: white;
}
table{
    text-align: left;
    width: 90vw;
}
button{
    background-color: black;
    color: white;
    border: none;
    width: 15vw;
}
.newPlacement{
    width: 8vw; 
    height: 5vh;
    margin-top: 7vh;
    float: left;
    margin-left: 5vw;
    background-color: black;
    color: white;
    border: none;
 }
th{
    border-right: 2px white solid;
    border-bottom: 2px white solid;
    margin-right: 5vw;
    padding-left: 1vw;
    padding-top: 1vw;
    padding-right: 0.5vw;
    
}
td{
    border-right: 2px white solid;
    margin-right: 5vw;
    padding-left: 1vw;
    padding-top: 1vw;
    padding-right: 0.5vw;
}