body{
    background-image: url("../img/sofaTwo.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    text-align: center;
    overflow-x: hidden;
}
canvas{
    width: 30vw;
    height: 40vh;
    background-color: white;
    margin-top: 20vh;
}